*{
	background-color:#f5f5f5;
	box-sizing: border-box;
}
h1{
	width:100vw;
	background-color:#011e29;
	color:white;
	height:80px;
	text-align:center;
	padding:25px;
}
main{
	 display: flex;
     justify-content:center;
     align-items: center;
}
img{
	width:150px;
	height:150px;
}
.list,.article,.photo{
	width:33%;
	background-color:white;
	border:1px solid black;
}
