*{
	background-color:#f5f5f5;
	box-sizing: border-box;
}
h1{
	width:100vw;
	background-color:#011e29;
	color:white;
	position:sticky;
	top:0px;
	left:0px;
	height:50px;
}
main{
	 display: flex;
     justify-content: space-between;
     align-items: center;
}
img{
	width:100px;
	height:100px;
}
list{
	width:33vw;
	background-color:white;
	border:1px solid black;
}
article{
	width:33vw;
	background-color:white;
	border:1px solid black;
}
photo{
	width:33vw;
	background-color:white;
	border:1px solid black;
}